# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Environment folders
venv/
ENV/

identification/
currency_converter/
# Local-only files
alexa.py
cap1.py
capestone.py
floyds.py
pass.py
data/
*.zip
